@inherits LayoutComponentBase
<div class="page">

<header>
    <img src="New_logo.jpg" alt="logo">
    <div id="timebox">
        <h1>Moment 1.2</h1>
    </div>
    
</header>

    <div class="container">
        <aside>
        <NavMenu />
        </aside>

        <main role="main" class="pb-3">
            @Body
        </main>
    </div>

    <footer>
        <p>Av Simon Brandtman. Kontakt: sibr2200@student.miun.se</p>
    </footer>

</div>