



<div class="navlist">
    <nav>
        <ul>
            <li class="nav_li"><a href="/" class="navlink">hem</a></li>
            <li class="nav_li"><a href="/convert" class="navlink">kovertera</a></li>
            <li class="nav_li"><a href="/Json" class="navlink">Json-sidan</a></li>
        </ul>
    </nav>
</div>

